/*
*   ==================================================
*   Homepage Banner Stylesheet (.homepage-banner)
*   ==================================================
*/



/*
*   =========================
*   Containers
*   =========================
*/
.homepage-banner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    height: calc(100vh - 2rem);

    background-color: $color-grey-1;
    background-image: url(../../../../../public/assets/images/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        width: 100%;
        max-width: 500px;

        h1 {
            margin: 0;
            
            color: #FFFFFF;
        }
    }

    .logos {
        display: flex;
        gap: 1rem;

        margin-top: 1rem;

        a {
            display: flex;

            width: 60px;
            height: 60px;

            background-color: transparent;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            
            &.github {
                background-color: $color-white;
                background-image: url(../../../../../public/assets/images/github.png);
                background-size: 102%;
            }

            &.linkedin {
                background-image: url(../../../../../public/assets/images/linkedin.png);
            }
        }
    }
}