// --------------------------------------------------
//	Layout
// --------------------------------------------------
.z-1 {
	position: relative;
	z-index: 1;
}

.hidden {
	display: none;
}

.mob-only {
	display: flex;

	@include bp(L) {
		display: none;
	}
}

.desk-only {
	display: none;

	@include bp(L) {
		display: flex;
	}
}

// TO SORT
html {
	font-size: 16px;
  }
  
  body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #ccc;
  }
  
  .container {
	width: 80%;
  }
  
  a, a:hover {
	text-decoration: none;
	color: #64ffda;
  }
  
  nav {
	position: fixed;
	top: 0;
	display: block;
	width: 60px;
	height: 100vh;
	background-color: #333;
	text-align: center;
  }
  
  nav .brand {
	font-size: 3rem;
	font-weight: 600;
	display: block;
	background-color: #171717;
  }
  
  nav .menu {
	display: block;
	margin-top: 5rem;
  }
  
  nav .menu a {
	display: block;
  }
  
  nav .menu a, nav .social a {
	color: #999;
	-webkit-transition: color 320ms ease-in;
	-moz-transition: color 320ms ease-in;
	-ms-transition: color 320ms ease-in;
	-o-transition: color 320ms ease-in;
	transition: color 320ms ease-in;
  }
  
  nav .menu a:hover, nav .menu a.active, nav .social a:hover {
	color: #64ffda;
  }
  
  nav .social {
	margin-top: 3rem;
  }
  
  nav .social a {
	display: inline-block;
	margin-bottom: 5px;
  }
  
  section {
	min-height: 100vh;
  }
  
  section:nth-child(odd) {
	background-color: #373737;
  }
  
  section:nth-child(even) {
	background-color: #444;
  }
  
  .container h2 {
	  padding-top: 6rem;
	  font-weight: 800;
	  font-size: 2.5rem;
  }
  
  .welcome {
	font-size: 3rem;
	font-weight: 800;
	color: #fff;
	padding-top: 6rem;
	margin: 0;
  }
  
  .pink {
	color: #f06292
  }
  
  .blue {
	color: #64ffda;
  }
  
  #home button {
	margin-top: 3rem;
	width: 150px;
	font-size: 1.3rem;
	border: 1px solid #64ffda;
	border-radius: 5px;
	color: #64ffda;
	background-color: #444;
	-webkit-transition: background 320ms ease-in;
	-moz-transition: background 320ms ease-in;
	-ms-transition: background 320ms ease-in;
	-o-transition: background 320ms ease-in;
	transition: background 320ms ease-in;
  }
  
  #home button:hover {
	background-color: #64ffda;
	color: #444;
  }
  
  .text-container {
	width: 50%;
	text-align: justify;
  }
  
  #about .text-container {
	float: right;
  }
  
  .text-container p {
	font-size: 1.2rem;
	letter-spacing: 1px;
  }
  
  #works h2 {
	margin-bottom: 2rem;
  }
  .img-thumbnail {
	width: 300px;
	height: 200px;
	background-color: #fff;
	padding: 2px;
	border-radius: 2px;
  }
  
  .form-container {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	margin-top: -1rem;
  }
  
  form {
	margin-top: 3rem;
  }
  
  .form-container input, .form-container textarea, .form-container button {
	margin: 0 auto;
	display: block;
  }
  
  input, textarea {
	width: 70%;
	border: none;
	border-radius: 5px;
	padding: .7rem;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
  }
  
  textarea {
	height: 120px;
	resize: none;
  }
  
  form button {
	margin-top: 3rem;
	width: 150px;
	height: 2rem;
	font-size: 1rem;
	border: 1px solid #f06292;
	border-radius: 5px;
	color: #f06292;
	background-color: #444;
	-webkit-transition: background 320ms ease-in;
	-moz-transition: background 320ms ease-in;
	-ms-transition: background 320ms ease-in;
	-o-transition: background 320ms ease-in;
	transition: background 320ms ease-in;
  }
  
  form button:hover {
	background-color: #f06292;
	color: #444;
  }

// Modals
.portfolio-modal:not(.open) {
	cursor: pointer;
	position: relative;
	margin-bottom: 2rem;

	img {
		width: 100%;
		height: auto;
	}

	.title {
		padding-left: 1rem;
		background: rgba(255, 255, 255, 0.8);
		position: absolute;
		bottom: 0;
		left: 0;
		width: calc(100% - 30px);
		margin-bottom: 0;
		margin-right: 15px;
		margin-left: 15px;
	}

	.fa-plus {
		display: none;
	}

	&:hover {
		transition: all ease .5s;

		> div {
			background: #444;
			transition: all ease .5s;
		}

		.fa-plus {
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 3rem;
			color: #f06292;
			transition: all ease .5s;
		}

		img, .title {
			opacity: 0;
			transition: all ease .5s;
		}
	}
}

.portfolio-modal.open {
	.title {
		border-bottom: 2px solid #8a8a8a;
		padding-bottom: 0.25rem;
	}
}

//Mobile Changes
.container {
	width: 100%;

	@include bp(M) {
		width: 80%;
	}
}

.text-container {
	width: 100%;
	padding-left: 4rem;

	@include bp(M) {
		width: 50%;
		padding-left: 0;
	}
}

#works, #home {
	.container {
		padding-left: 5rem;

		@include bp(M) {
			padding-left: 0;
		}
	}
}

#contact {
	margin-bottom: 1rem;

	h3 {
		text-transform: lowercase;
	}
}