// --------------------------------------------------
//	Styleguide
// --------------------------------------------------
.styleguide {
	margin-top: 8rem;

	footer {
		margin-top: 2rem;
	}
}
#sg-colors {
	.col {
		margin: 1rem;
		padding: 0;
	}
	
	.card-top {
		height: 10rem;
		width: 100%;
		border-bottom: 1px solid $color-mercury;
	}

	.card:nth-child(1) .card-top {
		background-color: $color-brand-yellow; 
	}

	.card:nth-child(2) .card-top {
		background-color: $color-brand-pink;
	}
	
	.card:nth-child(3) .card-top {
		background-color: $color-font; 
	}

	.card:nth-child(4) .card-top {
		background-color: $color-mercury; 
	}
}

#sg-buttons {
	button {
		margin: 1rem;
	}
}