// --------------------------------------------------
//	Typography
// --------------------------------------------------
// @font-face {
// 	font-family: 'Harlow-Solid-Italic';
// 	src: url("static/fonts/harlow-solid-italic.ttf") format("ttf");;
// }


body {
	font-family: 'Nunito', sans-serif;
	color: $color-font;
	word-break: break-word;
}

h1, h2, h3, h4, h5, h6, li {
	font-family: 'Arvo', serif;

	strong {
		color: $color-brand-yellow;
	}

	// span {
	// 	font-family: 'Harlow-Solid-Italic';
	// }
}

.nunito {
	font-family: 'Nunito', sans-serif;
}

.arvo {
	font-family: 'Arvo', serif;
}

.yellow {
	color: $color-brand-yellow;
}

h1 {
	font-size: 3rem;
	
	@include bp(S) {
		font-size: 5rem;
	}
}

h2 {
	font-size: 3rem;
	
	@include bp(S) {
		font-size: 5rem;
	}
}

h3 {
	font-size: 1.5rem;
	text-transform: capitalize;

	&.lowercase {
		text-transform: inherit;
	}
	
	@include bp(S) {
		font-size: 2rem;
	}
}

h4 {
	font-size: 1.1rem;
}

.btn-primary {
	background-color: $color-brand-pink;
    border-color: $color-brand-pink;

	&:hover {
		background-color: rgba($color-brand-pink, 0.8);
		border-color: $color-brand-pink;
	}
}

.btn-secondary {
	background-color: $color-brand-yellow;
    border-color: $color-brand-yellow;

	&:hover {
		background-color: rgba($color-brand-yellow, 0.8);
		border-color: $color-brand-yellow;
	}
}

input {
	font-family: 'Arvo', serif;

	&::-webkit-input-placeholder,
	&:-ms-input-placeholder,
	&:-moz-placeholder,
	&::-moz-placeholder {
		font-family: 'Arvo', serif;
	}
}

button {
	font-family: 'Arvo', serif;
}